#hero {
  background-image: url('../assets/Background/Background_Intro.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 120px 163px 186px 163px;

  height: 750px;
  box-sizing: border-box;
}

.profile-img-wrapper {
  position: relative;
  display: inline-block;
  width: 96px; /* ajuste conforme o tamanho da Border.svg */
  height: 96px;
  margin-bottom: 56px;
}


.profile-border {
  width: 96px;
  height: 96px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.profile-img {
  width: 82.7px;
  height: 82.7px;
  object-fit: cover;
  border-radius: 999px;
  /* border: 4.36px solid var(--gray-500); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: #fff;
}

.profile-icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 32px;
  height: 32px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10);
  padding: 6px;
  z-index: 3;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  max-width: 1040px;
  width: 100%;
}


.subtitle {
  font: var(--subtitle);
  color: var(--gray-200);
}

.destaque {
  color: var(--red);
}


h1 {
  font: var(--title-lg);
  color: var(--gray-100);
}

p {
  font: var(--text-sm);
  color: var(--gray-300);
  padding-bottom: 80px;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding-bottom: 94px;
}

.vector {
  margin-top: 94px;
  margin-bottom: 0;
}

.container-projects {
  background-color: var(--gray-500); 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.job {
  margin-top: 72px;
  font: var(--subtitle);
  color: var(--red);
  align-items: center;
  text-align: center;
}

.title-md {
  font: var(--title-md);
  color: var(--gray-100);
  margin-bottom: 56px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 24px;
  justify-content: center;
  padding: 24px;
  margin-bottom: 144px;
}

.card-project {
  background-color: var(--gray-400);
  position: relative;
  width: 330px;
  height: 280px;
  border-radius: 8px;
  overflow: hidden;
}

.card-bg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.card {
  position: absolute;
  inset: 0;
  padding: 12px;
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-end;

  z-index: 2;
}

.thumb-img {
  width: 100%;
  height: 156px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.title-sm {
  margin: 0;
  font: var(--title-sm);
  color: var(--gray-100);
}

.text-sm {
  margin: 4px 0 0 0;
  font: var(--text-sm);
  color: var(--gray-200);
  line-height: 1.4;
}

.container-services {
  background-color: var(--gray-600);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 480px; 
  padding-top: 88px;
}

.subtitle {
  font: var(--subtitle);
  color: var(--red);
  align-items: center;
  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  justify-content: center;
  padding: 24px;
  margin-bottom: 144px;
}

.grid-card {
  background-color: transparent;
  border: 2px solid var(--gray-500);
  position: relative;
  width: 280px;
  height: 155px;
  border-radius: 8px;
  overflow: hidden;
}

.device-img {
  margin: 20px;
  display: flex;
}

.text {
  margin: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}



