/* Estilização da imagem de perfil e ícone */

.profile-img-wrapper {
  position: relative;
  display: inline-block;
  width: 96px; /* ajuste conforme o tamanho da Border.svg */
  height: 96px;
  margin-bottom: 56px;
}


.profile-border {
  width: 96px;
  height: 96px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.profile-img {
  width: 82.7px;
  height: 82.7px;
  object-fit: cover;
  border-radius: 999px;
  /* border: 4.36px solid var(--gray-500); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: #fff;
}

.profile-icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 32px;
  height: 32px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10);
  padding: 6px;
  z-index: 3;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 163px 120px 163px 183px;
  background-image: url('../assets/Background/Background_Contacts.png');
  background-size: cover;
}

.subtitle {
  font: var(--subtitle);
  color: var(--gray-200);
}

.destaque {
  color: var(--red);
}

h1 {
  font: var(--title-lg);
  color: var(--gray-100);
}

p {
  font: var(--text-sm);
  color: var(--gray-300);
}
